.background {
  background-color: #1a1a1a;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  padding: 20px;
  text-align: center; /* Center text horizontally */
  align-items: center;
  justify-content: center;
  height:100vh;
}

h1 {
  color: brown;
  margin-bottom: 20px; /* Add margin-bottom to create space below h1 */
}

h2 {
  color: yellow;
}
